<!-- We don't really need child components on this demo as it will be overkill to do components over small actions -->
<!-- I could make a game selector component that inputs to the game the selected game type, but I find it overkill -->
<!-- Once the PO asks for more game types we could do the component, as of right now there's only 2 i used the rule of 3 -->
<!-- #ref https://en.wikipedia.org/wiki/Rule_of_three_(computer_programming) -->

<h1>Rock, Paper, Scissors - Manel Alonso</h1>
<app-game id="game"></app-game>

<router-outlet></router-outlet>
